body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.horizontal-list{
    list-style: none;
    padding-left: 0px;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s , border-bottom 4s;
}
.horizontal-list li a:hover{
    color: lightgrey;
    border-bottom: 1px solid white;
}
.text-center{
    text-align: center;
}
#name-social-container{
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}